#rectangle {
  width: 100px;
  height: 40px;
  background: red; }

#parallelogram {
  width: 100px;
  height: 70px;
  background: red;
  background: red;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg); }

#square {
  width: 100px;
  height: 100px;
  background: red; }

#circle {
  width: 100px;
  height: 100px;
  background: red;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }

#oval {
  width: 100px;
  height: 50px;
  -webkit-border-radius: 100px / 50px;
  -moz-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  background: red; }

#up-triangle {
  width: 0;
  height: 0;
  border-right: 60px solid transparent;
  border-bottom: 103.92px solid red;
  border-left: 60px solid transparent; }

#down-triangle {
  width: 0;
  height: 0;
  border-top: 103.92px solid red;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent; }

#left-triangle {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-right: 103.92px solid red;
  border-bottom: 60px solid transparent; }

#right-triangle {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 103.92px solid red; }

#top-left-triangle {
  width: 0;
  height: 0;
  border-top: 60px solid red;
  border-right: 60px solid transparent; }

#top-right-triangle {
  width: 0;
  height: 0;
  border-top: 60px solid red;
  border-left: 60px solid transparent; }

#bottom-left-triangle {
  width: 0;
  height: 0;
  border-right: 60px solid transparent;
  border-bottom: 60px solid red; }

#bottom-right-triangle {
  width: 0;
  height: 0;
  border-bottom: 60px solid red;
  border-left: 60px solid transparent; }

#trapezoid {
  width: 80px;
  height: 0;
  border-right: 40px solid transparent;
  border-bottom: 80px solid red;
  border-left: 40px solid transparent; }

#up-chevron {
  position: relative;
  width: 120px;
  height: 40px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
  #up-chevron:before, #up-chevron:after {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: red;
    content: ''; }
  #up-chevron:before {
    left: 0;
    -webkit-transform: skew(0deg, 20deg);
    -moz-transform: skew(0deg, 20deg);
    -ms-transform: skew(0deg, 20deg);
    -o-transform: skew(0deg, 20deg);
    transform: skew(0deg, 20deg); }
  #up-chevron:after {
    right: 0;
    -webkit-transform: skew(0deg, -20deg);
    -moz-transform: skew(0deg, -20deg);
    -ms-transform: skew(0deg, -20deg);
    -o-transform: skew(0deg, -20deg);
    transform: skew(0deg, -20deg); }

#down-chevron {
  position: relative;
  width: 120px;
  height: 40px; }
  #down-chevron:before, #down-chevron:after {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: red;
    content: ''; }
  #down-chevron:before {
    left: 0;
    -webkit-transform: skew(0deg, 20deg);
    -moz-transform: skew(0deg, 20deg);
    -ms-transform: skew(0deg, 20deg);
    -o-transform: skew(0deg, 20deg);
    transform: skew(0deg, 20deg); }
  #down-chevron:after {
    right: 0;
    -webkit-transform: skew(0deg, -20deg);
    -moz-transform: skew(0deg, -20deg);
    -ms-transform: skew(0deg, -20deg);
    -o-transform: skew(0deg, -20deg);
    transform: skew(0deg, -20deg); }

#left-chevron {
  position: relative;
  width: 120px;
  height: 40px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }
  #left-chevron:before, #left-chevron:after {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: red;
    content: ''; }
  #left-chevron:before {
    left: 0;
    -webkit-transform: skew(0deg, 20deg);
    -moz-transform: skew(0deg, 20deg);
    -ms-transform: skew(0deg, 20deg);
    -o-transform: skew(0deg, 20deg);
    transform: skew(0deg, 20deg); }
  #left-chevron:after {
    right: 0;
    -webkit-transform: skew(0deg, -20deg);
    -moz-transform: skew(0deg, -20deg);
    -ms-transform: skew(0deg, -20deg);
    -o-transform: skew(0deg, -20deg);
    transform: skew(0deg, -20deg); }

#right-chevron {
  position: relative;
  width: 120px;
  height: 40px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }
  #right-chevron:before, #right-chevron:after {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: red;
    content: ''; }
  #right-chevron:before {
    left: 0;
    -webkit-transform: skew(0deg, 20deg);
    -moz-transform: skew(0deg, 20deg);
    -ms-transform: skew(0deg, 20deg);
    -o-transform: skew(0deg, 20deg);
    transform: skew(0deg, 20deg); }
  #right-chevron:after {
    right: 0;
    -webkit-transform: skew(0deg, -20deg);
    -moz-transform: skew(0deg, -20deg);
    -ms-transform: skew(0deg, -20deg);
    -o-transform: skew(0deg, -20deg);
    transform: skew(0deg, -20deg); }
